@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
 font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
